---
layout: page
title: Biodiversity Risk Exposure
permalink: /exposures/
---
<h1> Industry Level </h1>
<!-- Styles for desktop and mobile devices -->
<style>
	.desktop {
		display: block;
		width: 50%;
        	height: auto;
	}
	.mobile {
    		display: none;
  	}
	@media only screen and (max-width: 1000px) {
		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
</style>

<div class="desktop">
 {% include industry_ranking.html %}
 <h5> Double click on the legend to select industry, single click to add industries for comparison </h5>
<br>
<br>
 {% include 246industry.html %}
</div>

<!-- Content for mobile devices -->
<div class="mobile">
	<h5>For the best experience with our interactive figures, we recommend accessing our website using a desktop computer.</h5>
	<img src="/image/industry_ranking.png" alt="">
 <br>
<br>
 <img src="/image/246industry.png" alt="">
</div>

<div class="desktop">
<h1> County Level </h1>
	    <style>
      /* Reduce the font size of elements with the "my-class" class */
      .my-class {
        font-size: 0.5em;
      }
    </style>
 {% include map_risk_measures_county.html %}
<br>
</div>

<div class="desktop">
<h1> Country Level </h1>
 {% include map_risk_measures_country.html %}
<br>
</div>

