---
layout: page
title: Biodiversity Risk Exposure
permalink: /exposures/
---

<!-- Styles for desktop and mobile devices -->
<style>
	.desktop {
		display: block;
	}
	.mobile {
    		display: none;
  	}
	@media only screen and (max-width: 800px) {
		.mobile {
			display: block;
		}
		.desktop {
			display: none;
		}
	}
</style>



<div class="desktop">
 {% include map_risk_measures_county.html %}
<br>
</div>

<div class="desktop">
 {% include map_risk_measures_country.html %}
<br>
</div>

<div class="desktop">
<h1> Industry Level </h1>
 {% include industry_ranking.html %}
 <h5> Double click on the legend to select industry, single click to add industries for comparison </h5>
<br>
<br>
 {% include 246industry.html %}
</div>

<!-- Content for mobile devices -->

<div class="mobile">
	<h1> Industry Level </h1>
	<h5>For the best experience with our interactive figures, we recommend accessing our website using a desktop computer.</h5>
	<img src="/image/industry_ranking.png" alt="">
 <br>
<br>
 <img src="/image/246industry.png" alt="">
</div>
